# Copy this file to .env and fill in your Nutanix NAI values.
# Do not commit .env to source control.

NAI_ENDPOINT=your_end_point
NAI_API_KEY=NAI_API_KEY
MODEL=MODEL
EMBED_MODEL=EMBED_MODEL
RAG_SOURCE_DIR=RAG_SOURCE_DIR
RAG_PERSIST_DIR=RAG_PERSIST_DIR
